python-dotenv==1.0.0
bs4
confluent-kafka>=2.3.0
elasticsearch

uvicorn[standard]>=0.18.3
python-multipart==0.0.9
hvac>=2.1.0,<3.0.0
pydantic>=2.0
httpx==0.27.1
pytest==8.0.0
pytest-cov==4.1.0           # Coverage reporting
pytest-asyncio==0.23.0      # For async test support
pytest-mock==3.12.0         # Mocking

